* {
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: #fff;
}

.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    margin: 16px;
}

#fom {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.button {
    display: flex;
    justify-content: center;
}

.weight-guide {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-top: 12px;
}